<div class="box-border h-auto w-auto p-4 border-0 shadow-lg">
    <div class="flex flex-col flex-wrap justify-between">
        <a href="{% url 'product' product.slug %}" class="text-gray-700  text-center text-sm font-bold mb-4">{{ product.name }}</a>

        <a href="{% url 'product' product.slug %}">
            <img src="{{ product.get_thumbnail }}" alt="logo" class="w-full rounded-xl hover:shadow-lg">
        </a>
        
        <a href="{% url 'product' product.slug %}" class="text-gray-700 text-center text-sm mt-4">{{ product.get_display_price }} €</a>

        <a href="#" 
            src="#" 
            hx-get="{% url 'add_to_cart' product.id %}" 
            hx-target="#cart-menu-button" 
            hx-swap="outerHTML" 
            class="bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 mt-4 rounded-full">
            Ajouter au panier
        </a>
    </div>
</div>