{% extends 'core/base.html' %}

{% block title %} - Boutique {% endblock %}

{% block content %}
<section class="py-12">
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="flex flex-col md:flex-row -mx-4">
            <aside class="w-1/2 sm:w-1/4 md:w-1/3 lg:w-1/4 px-4">
                <div class="inline-block sm:inline-block md:block px-6 py-4 bg-white rounded shadow-sm">
                    <h3 class="mb-3 text-xl uppercase">Rechercher</h3>
                    <form method="get" action=".">
                        <div class="flex">
                            <div class="relative text-gray-600 ">
                                <span class="absolute right-2 inset-y-0 flex items-center pl-2">
                                    <button type="submit" class="p-1 focus:outline-none focus:shadow-outline ">
                                        <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                            class="w-6 h-6">
                                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                        </svg>
                                    </button>
                                </span>
                                <input type="search" name="query"
                                    class="py-2 text-sm text-white rounded-md pl-3 focus:outline-none focus:bg-white border-2"
                                    placeholder="Nom du produit" autocomplete="on">
                            </div>
                        </div>

                    </form>
                    <h3 class="mt-6 mb-3 text-xl uppercase">Catégories</h3>
                    <ul class="space-y-2">
                        <li><a href="{% url 'shop' %}"
                                class="{% if not active_category  %} text-blue-500 {% else %} text-gray-500 {% endif %}">Toutes
                                les catégories</a></li>

                        {% for category in categories %}

                        <li><a href="{% url 'shop' %}?category={{ category.slug }}"
                                class="{% if category.slug == active_category %} text-blue-500 {% else %} text-gray-500 {% endif %}">
                                {{ category.name }}</a></li>

                        {% endfor %}
                    </ul>
                </div>
            </aside>
            <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                {% for product in products %}
                {% include 'product/partials/product_list_items.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}