{% extends 'dashboard/base.html' %}

{% block title %} - Dashboard {% endblock %}

{% block content %}
<article class="relative bg-gray-500 p-4 sm:p-6 rounded overflow-hidden mb-6">
    <div class="" aria-hidden="true">
        <h1 class="text-2xl md:text-3xl text-white font-bold mb-1">Bienvenue sur DanyTGC 👋</h1>
    </div>
</article>


<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3  mb-5">
    <article class="bg-white rounded shadow-sm border border-gray-200">
        <div class="p-5">
            <h2 class="text-lg font-semibold text-black">Sales revenue</h2>
            <small class="font-bold text-gray-400  uppercase mb-1">JANUARY</small>
            <div class="flex items-start">
                <h4 class="text-3xl font-bold mr-2">$12,480</h4>
                <b class="text-sm font-semibold text-white px-1.5 bg-green-500 rounded-full">+49%</b>
            </div>
            <hr class="my-4">
            <a href="#" class="hover:text-blue-600">Show all reports</a>
        </div>
    </article>

    <article class="bg-white rounded shadow-sm border border-gray-200">
        <div class="p-5">
            <h2 class="text-lg font-semibold text-black">Expenses</h2>
            <small class="font-bold text-gray-400  uppercase mb-1">JANUARY</small>
            <div class="flex items-start">
                <h4 class="text-3xl font-bold mr-2">$892,000</h4>
                <b class="text-sm font-semibold text-white px-1.5 bg-red-400 rounded-full">+24%</b>
            </div>
            <hr class="my-4">
            <a href="#" class="hover:text-blue-600">Show all reports</a>
        </div>
    </article>

    <article class="bg-white rounded shadow-sm border border-gray-200">
        <div class="p-5">
            <h2 class="text-lg font-semibold text-black">Purchases</h2>
            <small class="font-bold text-gray-400  uppercase mb-1">JANUARY</small>
            <div class="flex items-start">
                <h4 class="text-3xl font-bold mr-2">$8,790</h4>
                <b class="text-sm font-semibold text-white px-1.5 bg-green-500 rounded-full">+18%</b>
            </div>
            <hr class="my-4">
            <a href="#" class="hover:text-blue-600">Show all reports</a>
        </div>
    </article>
</div> <!-- grid.// -->

<article class="bg-white rounded shadow-sm border border-gray-200 mb-5">
    <div class="p-5">
        <header class="flex justify-between">
            <h2 class="text-xl font-semibold text-black">
                Commande à faire
            </h2>
        </header>
        {% for order in orders %}
        <div class="mt-6 flex justify-between">
            <div class="flex items-center">
                <div>
                    <h3 class="text-lg font-semibold text-black">Commande n°{{ order.id }} - utilisateur:
                        {{order.user.username}}({{order.first_name}} {{order.last_name}})</h3>
                    <p class="text-sm text-gray-600">Commandé le: {{ order.created_at }}</p>
                </div>
            </div>
            <div class="flex items-center">
                <h3 class="mr-9 text-lg font-semibold text-black">Status: {{ order.status }}</h3>
                <p class="mr-9 text-lg font-semibold text-black">Prix: {{ order.get_total_price }} €</p>
            </div>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}