{% extends 'dashboard/base.html' %}

{% block title %} - Produit {% endblock %}
{% block content %}
<article class="bg-white rounded shadow-sm border border-gray-200 p-4 lg:p-6 my-5">

    <h2 class="mb-3 text-xl md:text-2xl font-semibold text-black">
        Modifier un produit
    </h2>

    <form method="POST" action="{% url 'edit_product' product.id %}" enctype='multipart/form-data'>
        {% csrf_token %}

        <div class="mb-4">
            <label class="block mb-1">Nom du produit</label>
            <input type="text" name="product_name"
                class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                value="{{ product.name }}" placeholder="" />
        </div>

        <div class="mb-4">
            <label class="block mb-1">Description du produit</label>
            <textarea rows="4" name="product_description"
                class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                placeholder="">{{ product.description }}</textarea>
        </div>

        <div class="mb-4">
            <label class="block mb-1">Ajouté une image</label>
            {% if product.image %}
            <img id="myimage" src="{{ product.image.url }}" alt="image">
            {% endif %}
            <br>
            <input class="file-input" type="file" name="image" accept="image/*"
                onchange="document.getElementById('myimage').src = window.URL.createObjectURL(this.files[0])">
        </div>

        <div class="grid md:grid-cols-2 gap-x-2">
            <div class="mb-4">
                <label class="block mb-1">Catégorie</label>
                <div class="relative">
                    <select name="product_category"
                        class="block appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-3/5">
                        <option>Choisissez une catégorie</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if product.category.id == category.id %} selected {% endif %}>{{ category.name }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
        </div>

        <div class="grid md:grid-cols-2 gap-x-2">
            <div class="mb-4">
                <label class="block mb-1">édition</label>
                <div class="relative">
                    <select value="{{ product.edition }}" name="product_edition"
                        class="block appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-3/5">
                        <option>{{ product.edition }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="grid md:grid-cols-2 gap-x-2">
            <div class="mb-4">
                <label class="block mb-1">Rareté</label>
                <div class="relative">
                    <select value="{{ product.rarity }}" name="product_rarity"
                        class="block appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-3/5">
                        {% for key, value in rarity %}
                        <option value="{{ key }}"
                            {% if key == product.rarity %} selected {% endif %}>
                            {{ value }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <label class="block mb-1">Prix</label>
            <div class="grid grid-cols-3 gap-x-2 md:w-1/2">
                <div class="col-span-2">
                    <input type="text" value="{{ product.price }}" name="product_price"
                        class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                        placeholder="0.00" />
                </div>
                <div>
                    <labeb>EUR</label>
                </div>
            </div>
        </div>

        <!-- errors -->
        {% if errors %}
        <div class="mb-4">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Erreur</strong>
                <span class="block sm:inline">{{ errors }}</span>
            </div>
        </div>
        {% endif %}

        <button type="submit" name="product_button"
            class="my-2 px-4 py-2 text-center inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700">
            Modifier</button>

        <a href="#"
            class="px-4 py-2 inline-block text-gray-700 bg-white shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:text-blue-600">
            Revenir en arrière </a>

    </form>

</article>
{% endblock %}