{% extends 'dashboard/base.html' %}

{% block title %} - Commande {% endblock %}

{% block content %}
<article class="bg-white rounded shadow-sm border border-gray-200 mb-5">
    <div class="p-5">
        <header class="flex justify-between">
            <h2 class="text-xl font-semibold text-black">
                Commandes
            </h2>
        </header>
        <div>
            <div class="inline-block sm:inline-block md:block px-6 py-4 bg-white rounded shadow-sm">
                <h3 class="mb-3 text-xl uppercase text-center font-bold">Rechercher</h3>
                <form method="get" action=".">
                    <div class="flex justify-center">
                        <div class="mb-3 xl:w-96">
                            <input type="search"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                name="query" placeholder="Nom du produit" />
                        </div>
                    </div>

                </form>
                {% for order in orders %}
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <div>
                            <h3 class="text-lg font-semibold text-black">Commande n°{{ order.id }} - utilisateur: {{order.user.username}}({{order.first_name}} {{order.last_name}})</h3>
                            <p class="text-sm text-gray-600">Commandé le: {{ order.created_at }}</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <h3 class="mr-9 text-lg font-semibold text-black">Status: {{ order.status }}</h3>
                        <p class="mr-9 text-lg font-semibold text-black">Prix: {{ order.get_total_price }} €</p>
                        <p class="mr-9 text-lg font-semibold text-black">Payé: {{ order.paid|yesno:"Oui, Non" }}</p>
                        <a href="{% url 'edit_order' order.id %}" class="text-blue-500 hover:text-blue-700">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z" />
                            </svg>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <br>
        {% include 'dashboard/partials/pagination.html' %}
</article>
{% endblock %}