{% extends 'core/base.html' %}

{% block title %} - Mon compte {% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">Mon compte</h1><hr/><br>

    <div class="mb-6">
        <h2 class="text-xl font-bold mb-2">Vos informations personnelles</h2><br>

        <strong>Nom: </strong>{{ request.user.last_name }}<br>
        <strong>Prénom: </strong>{{ request.user.first_name }}<br>
        <strong>E-mail: </strong>{{ request.user.email }}<br>

        <a href="{% url 'edit_account' %}"
            class="inline-block mt-4 py-4 px-6 rounded-xl text-white bg-blue-500">Modifier</a>
        
        <a href="{% url 'order_history' %}"
            class="inline-block mt-4 py-4 px-6 rounded-xl text-white bg-blue-500">Mes commandes</a>
    </div>
</div>
{% endblock %}